@font-face {
    font-family: Curvy;
    src: url(/assets/Gistesy.woff2);
    font-display: swap;

}
@font-face {
    font-family: Poppins;
    font-weight: 100;
    src: url(/assets/Poppins-ExtraLight.woff2);
    font-display: swap;

}
@font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url(/assets/Poppins-Medium.woff2);
    font-display: swap;

}
@font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url(/assets/Poppins-Bold.woff2);
    font-display: swap;

}

