@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bokor&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
    --pri: rgb(19, 19, 19);
    --backdrop: rgba(0, 0, 0, 0.801);
    --pri2: black;
    --sec: white;
    --sec2: rgb(170, 163, 163);
    --bebo: "Bebas Neue", sans-serif;
}

@font-face {
    font-family: Curvy;
    src: url(./assets/Gistesy.ttf);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    color: white;
}

@mixin h1() {
    font-family: var(--bebo);

    font-size: clamp(3rem, 10vw, 15rem);
    white-space: nowrap;
}

html,
body {

    width: 100%;


    #root {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        background: #000;

        .Main {
            width: 100%;
            max-width: 2600px;
            position: relative;
            background: var(--pri);

            nav {
                background: var(--backdrop);
                display: flex;
                width: 100%;
                position: sticky;
                backdrop-filter: blur(7px);
                top: -1px;
                z-index: 5;
                padding-inline: 4rem;
                padding-block: 1rem;
                border-bottom: 0.2rem solid var(--sec);
                justify-content: space-between;

                h2 {
                    font-family: "Bebas Neue", sans-serif;
                    font-size: 2rem;

                    span {
                        font-family: "Curvy";
                        font-weight: 100;
                        font-size: 2rem;
                    }
                }

                .milestone {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    font-weight: 200;

                    .m-Line {
                        height: 0.1rem;
                        width: 3rem;
                        background: var(--sec2);
                    }
                }

                .ham {

                    display: flex;
                    align-items: center;
                    font-size: 2rem;
                }
            }

            .Home-Cont {
                height: fit-content;
                border-bottom: 0.2rem solid var(--sec);

                .Home {
                    height: 100vh;
                    max-height: 1000px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    .left {
                        height: 50%;
                        width: 100%;
                        background: url("./images/14.jpeg");
                        background-size: cover;
                        background-position: center;
                        border-bottom: 0.5rem solid var(--sec);

                    }

                    .right {
                        height: 50%;
                        width: 100%;
                        padding: 2rem;
                        position: relative;

                        .top {

                            .name {
                                position: relative;
                                width: fit-content;


                                h1 {
                                    @include h1;
                                }

                                h3 {
                                    font-family: "curvy";
                                    font-weight: 100;
                                    font-size: clamp(2rem, 8vw, 10rem);
                                    position: absolute;
                                    top: 80%;
                                    right: 20%;
                                }
                            }
                        }

                        .center {
                            position: absolute;
                            width: 50%;
                            top: 50%;
                            right: 0;
                            border-top: 0.4rem solid var(--sec2);
                            padding-top: 1rem;

                            p {
                                color: var(--sec2);
                                font-size: clamp(0.6rem, 2vw, 2rem);
                            }
                        }

                        .bottom {

                            position: absolute;
                            bottom: 6%;
                            right: 10%;

                            button {
                                padding-inline: 2rem;
                                padding-block: 0.8rem;
                                color: var(--pri);
                                background: var(--sec);
                                font-size: clamp(1rem, 4vw, 2rem);
                                border: none;

                            }
                        }

                    }

                }

            }

            .About {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                background: var(--pri);
                margin-top: 4rem;
                border-bottom: 0.2rem solid var(--sec);
                padding-bottom: 2rem;

                .first {
                    position: relative;
                    align-self: self-start;
                    width: fit-content;
                    padding-left: 2rem;
                    padding-top: 2rem;

                    h1 {
                        @include h1;
                    }

                    h3 {
                        font-family: "curvy";
                        font-weight: 100;
                        font-size: clamp(1.4rem, 4vw, 6rem);
                        position: absolute;
                        top: 90%;
                        left: 80%;
                        rotate: -14deg;
                        white-space: nowrap;
                    }
                }

                .second {

                    max-width: 890px;
                    padding-right: 1rem;
                    padding-top: 1rem;

                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .right {
                        width: 100%;

                        height: 60vw;
                        max-height: 600px;
                        display: flex;
                        justify-content: end;
                        position: relative;
                        z-index: 2;
                        transform: translateY(10%) translateX(-9%) rotate(14deg);

                        .img-Cont {
                            width: 50%;
                            height: 100%;
                            background: var(--sec);
                            padding: 1rem;

                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .left {
                        width: 50%;

                        height: 60vw;
                        max-height: 600px;
                        transform: translateY(-4%) rotate(-8deg) translateX(23%);

                        .img-Cont {
                            width: 100%;
                            height: 100%;
                            background: var(--sec);
                            padding: 1rem;

                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }

                .third {
                    width: 100%;
                    display: flex;
                    padding-inline: 1rem;
                    gap: 1rem;

                    .left {
                        width: 50%;

                        h2 {
                            margin-block: 2rem;
                            white-space: nowrap;
                            font-size: clamp(0.8rem, 2vw, 3rem);
                        }

                        p {
                            color: var(--sec2);
                            font-size: clamp(0.5rem, 2vw, 1rem);

                        }
                    }

                    .right {
                        width: 50%;

                        h2 {
                            margin-block: 2rem;
                            white-space: nowrap;
                            font-size: clamp(0.8rem, 2vw, 3rem);
                        }

                        p {
                            color: var(--sec2);
                            font-size: clamp(0.5rem, 2vw, 1rem);
                        }
                    }
                }

                .line {
                    height: 0.1rem;
                    width: 15rem;
                    background-color: var(--sec2);
                    margin-inline-start: 1rem;
                    margin-block: 2rem;


                }

                .journey {
                    width: 100%;
                    padding-inline: 1rem;

                    p {
                        font-size: clamp(0.5rem, 2vw, 1rem);
                        color: var(--sec2);
                    }
                }
            }

            .Strength {
                border-bottom: 0.2rem solid var(--sec);
                width: 100vw;
                margin-top: 4rem;
                padding-bottom: 3rem;

                .first {
                    width: fit-content;
                    position: relative;
                    padding-left: 2rem;
                    padding-top: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    align-items: center;

                    h1 {
                        @include h1;
                    }

                    h3 {
                        height: 0.2rem;
                        width: 60%;
                        background: var(--sec2);
                    }
                }

                .second-sm {
                    height: 50vw;
                    width: 100%;

                    .Cylinder {
                        height: 100%;
                        width: 100%;
                    }
                }

                .third {
                    width: 100%;
                    padding-inline: 2rem;

                    .cards{

                    
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    .scard {
                        display: flex;
                        align-items: self-start;
                        gap: 0.5rem;

                        .tick {
                            border: 0.01rem solid var(--sec2);

                            padding-inline: clamp(0.2rem, 1vw, 0.6rem);
                            font-weight: 100;
                            display: inline-block;
                            transform: translateY(8%);
                            font-size: clamp(0.8rem, 5vw, 2rem);
                            margin-right: 0.5rem;
                            border-radius: 50rem;

                            i {
                                display: inline-block;
                                color: var(--sec2);
                                transform: scale(1.8) translateY(-2%) translateX(10%);
                            }
                        }

                        p {
                            font-size: clamp(0.5rem, 2vw, 1rem);
                            color: var(--sec2);
                            line-height: clamp(1.4rem, 4vw, 3rem);


                            .head {
                                font-weight: 600;
                                display: inline-block;
                                transform: translateY(8%);
                                font-size: clamp(0.8rem, 2vw, 3rem);
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }
                }
            }
        }
    }
}

@media (min-width:600px) {

    html,
    body {
        #root {


            .Main {

                nav {
                    .milestone {
                        display: flex;
                    }
                }

                .Home {}
            }
        }
    }
}

@media (orientation: landscape) and (max-width:1000px) {

    html,
    body {
        #root {
            .Main {
                .Home-Cont {
                    border-bottom: 0;

                    .Home {

                        .left {
                            flex-shrink: 0;
                        }

                        .right {
                            flex-shrink: 0;
                            height: 70%;


                            .bottom {
                                bottom: -4%;
                            }
                        }
                    }
                }

                .About {
                    margin-top: 10rem;

                }
            }
        }
    }
}

@media (min-width:1400px) {
    html {
        body {
            #root {


                .Main {
                    .Home-Cont {

                        .Home {
                            flex-direction: row;

                            .left {
                                width: 50%;
                                height: 100%;
                                border-right: 0.5rem solid var(--sec);
                                border-bottom: 0px;

                            }

                            .right {
                                width: 100%;
                                height: 100%;

                                .top {

                                    .name {
                                        h1 {
                                            font-size: clamp(2rem, 8vw, 12rem);
                                        }
                                    }
                                }

                                .bottom {


                                    bottom: 10%;

                                }

                            }
                        }
                    }

                    .About {

                        display: grid;
                        margin: 0;
                        padding: 0;
                        grid-template-rows: auto auto;
                        grid-template-columns: 2fr 1fr;
                        grid-template-areas: "first second"
                            "third second"

                        ;
                        .lower-content{
                            transform: translateY(-10%);
                        }

                        .first {
                            grid-area: first;
                            height: fit-content;
                            width: fit-content;

                            h3 {
                                top: 72%;
                            }
                        }

                        .second {

                            grid-area: second;
                            padding: 0;

                            .right {
                                transform: none;
                                height: 50vh;
                                max-height: 500px;

                                .img-Cont {
                                    height: 100%;
                                    padding: 0;
                                }
                            }

                            .left {
                                transform: none;
                                height: 50vh;
                                max-height: 500px;

                                .img-Cont {
                                    height: 100%;
                                    padding: 0;
                                }
                            }
                        }

                        .third {
                            padding-top: 2rem;
                            grid-area: third;
                        }
                    }

                    .Strength {
                        margin: 0;
                        display: flex;
                          width: 100%;
                          gap: 2rem;
                        .second-lg {
                            width: 50%;
                            display: flex;
                            gap: 1rem;
                            
                            
                            .imgCont:first-child{
                                object-position: right;
                            }
                        
                            .imgCont{
                                width: 50%;
                                height: fit-content;

                          &:nth-child(2){
                           margin-top: 8rem;
                          }

                                img{
                                     width: 100%;
                                     aspect-ratio: 9/16;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                        }

                        .third {
                            width: 50%;
                            padding-top: 4rem;
                            display: flex;
                            flex-direction: column;
                            gap: 4rem;
                            justify-content: space-around;
                            .first {
                                h1 {
                                    font-family: var(--bebo);

                                    font-size: clamp(3rem, 10vw, 15rem);
                                    white-space: nowrap;
                                }

                            }
                            .cards{

                            
                            .scard{
  
                               .tick{
                                font-size: clamp(0.8rem, 1vw, 2rem);
                                 padding-inline: clamp(0.2rem, 0.5vw, 0.3rem);
                               }
                                 .head{
                                    font-size: clamp(0.8rem, 1vw, 2rem);
                                 }
                            } 
                        }
                        }
                    }
                }
            }
        }
    }
}