@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bokor&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --pri: rgb(19, 19, 19);
  --backdrop: rgba(0, 0, 0, 0.801);
  --pri2: black;
  --sec: white;
  --sec2: rgb(170, 163, 163);
  --bebo: "Bebas Neue", sans-serif;
}

@font-face {
  font-family: Curvy;
  src: url(./assets/Gistesy.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

html,
body {
  width: 100%;
}
html #root,
body #root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #000;
}
html #root .Main,
body #root .Main {
  width: 100%;
  max-width: 2600px;
  position: relative;
  background: var(--pri);
}
html #root .Main nav,
body #root .Main nav {
  background: var(--backdrop);
  display: flex;
  width: 100%;
  position: sticky;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  top: -1px;
  z-index: 5;
  padding-inline: 4rem;
  padding-block: 1rem;
  border-bottom: 0.2rem solid var(--sec);
  justify-content: space-between;
}
html #root .Main nav h2,
body #root .Main nav h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
}
html #root .Main nav h2 span,
body #root .Main nav h2 span {
  font-family: "Curvy";
  font-weight: 100;
  font-size: 2rem;
}
html #root .Main nav .milestone,
body #root .Main nav .milestone {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-weight: 200;
}
html #root .Main nav .milestone .m-Line,
body #root .Main nav .milestone .m-Line {
  height: 0.1rem;
  width: 3rem;
  background: var(--sec2);
}
html #root .Main nav .ham,
body #root .Main nav .ham {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
html #root .Main .Home-Cont,
body #root .Main .Home-Cont {
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 0.2rem solid var(--sec);
}
html #root .Main .Home-Cont .Home,
body #root .Main .Home-Cont .Home {
  height: 100vh;
  max-height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
html #root .Main .Home-Cont .Home .left,
body #root .Main .Home-Cont .Home .left {
  height: 50%;
  width: 100%;
  background: url("./images/14.jpeg");
  background-size: cover;
  background-position: center;
  border-bottom: 0.5rem solid var(--sec);
}
html #root .Main .Home-Cont .Home .right,
body #root .Main .Home-Cont .Home .right {
  height: 50%;
  width: 100%;
  padding: 2rem;
  position: relative;
}
html #root .Main .Home-Cont .Home .right .top .name,
body #root .Main .Home-Cont .Home .right .top .name {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
html #root .Main .Home-Cont .Home .right .top .name h1,
body #root .Main .Home-Cont .Home .right .top .name h1 {
  font-family: var(--bebo);
  font-size: clamp(3rem, 10vw, 15rem);
  white-space: nowrap;
}
html #root .Main .Home-Cont .Home .right .top .name h3,
body #root .Main .Home-Cont .Home .right .top .name h3 {
  font-family: "curvy";
  font-weight: 100;
  font-size: clamp(2rem, 8vw, 10rem);
  position: absolute;
  top: 80%;
  right: 20%;
}
html #root .Main .Home-Cont .Home .right .center,
body #root .Main .Home-Cont .Home .right .center {
  position: absolute;
  width: 50%;
  top: 50%;
  right: 0;
  border-top: 0.4rem solid var(--sec2);
  padding-top: 1rem;
}
html #root .Main .Home-Cont .Home .right .center p,
body #root .Main .Home-Cont .Home .right .center p {
  color: var(--sec2);
  font-size: clamp(0.6rem, 2vw, 2rem);
}
html #root .Main .Home-Cont .Home .right .bottom,
body #root .Main .Home-Cont .Home .right .bottom {
  position: absolute;
  bottom: 6%;
  right: 10%;
}
html #root .Main .Home-Cont .Home .right .bottom button,
body #root .Main .Home-Cont .Home .right .bottom button {
  padding-inline: 2rem;
  padding-block: 0.8rem;
  color: var(--pri);
  background: var(--sec);
  font-size: clamp(1rem, 4vw, 2rem);
  border: none;
}
html #root .Main .About,
body #root .Main .About {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--pri);
  margin-top: 4rem;
  border-bottom: 0.2rem solid var(--sec);
  padding-bottom: 2rem;
}
html #root .Main .About .first,
body #root .Main .About .first {
  position: relative;
  align-self: self-start;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 2rem;
  padding-top: 2rem;
}
html #root .Main .About .first h1,
body #root .Main .About .first h1 {
  font-family: var(--bebo);
  font-size: clamp(3rem, 10vw, 15rem);
  white-space: nowrap;
}
html #root .Main .About .first h3,
body #root .Main .About .first h3 {
  font-family: "curvy";
  font-weight: 100;
  font-size: clamp(1.4rem, 4vw, 6rem);
  position: absolute;
  top: 90%;
  left: 80%;
  rotate: -14deg;
  white-space: nowrap;
}
html #root .Main .About .second,
body #root .Main .About .second {
  max-width: 890px;
  padding-right: 1rem;
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
html #root .Main .About .second .right,
body #root .Main .About .second .right {
  width: 100%;
  height: 60vw;
  max-height: 600px;
  display: flex;
  justify-content: end;
  position: relative;
  z-index: 2;
  transform: translateY(10%) translateX(-9%) rotate(14deg);
}
html #root .Main .About .second .right .img-Cont,
body #root .Main .About .second .right .img-Cont {
  width: 50%;
  height: 100%;
  background: var(--sec);
  padding: 1rem;
}
html #root .Main .About .second .right .img-Cont img,
body #root .Main .About .second .right .img-Cont img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
html #root .Main .About .second .left,
body #root .Main .About .second .left {
  width: 50%;
  height: 60vw;
  max-height: 600px;
  transform: translateY(-4%) rotate(-8deg) translateX(23%);
}
html #root .Main .About .second .left .img-Cont,
body #root .Main .About .second .left .img-Cont {
  width: 100%;
  height: 100%;
  background: var(--sec);
  padding: 1rem;
}
html #root .Main .About .second .left .img-Cont img,
body #root .Main .About .second .left .img-Cont img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
html #root .Main .About .third,
body #root .Main .About .third {
  width: 100%;
  display: flex;
  padding-inline: 1rem;
  gap: 1rem;
}
html #root .Main .About .third .left,
body #root .Main .About .third .left {
  width: 50%;
}
html #root .Main .About .third .left h2,
body #root .Main .About .third .left h2 {
  margin-block: 2rem;
  white-space: nowrap;
  font-size: clamp(0.8rem, 2vw, 3rem);
}
html #root .Main .About .third .left p,
body #root .Main .About .third .left p {
  color: var(--sec2);
  font-size: clamp(0.5rem, 2vw, 1rem);
}
html #root .Main .About .third .right,
body #root .Main .About .third .right {
  width: 50%;
}
html #root .Main .About .third .right h2,
body #root .Main .About .third .right h2 {
  margin-block: 2rem;
  white-space: nowrap;
  font-size: clamp(0.8rem, 2vw, 3rem);
}
html #root .Main .About .third .right p,
body #root .Main .About .third .right p {
  color: var(--sec2);
  font-size: clamp(0.5rem, 2vw, 1rem);
}
html #root .Main .About .line,
body #root .Main .About .line {
  height: 0.1rem;
  width: 15rem;
  background-color: var(--sec2);
  margin-inline-start: 1rem;
  margin-block: 2rem;
}
html #root .Main .About .journey,
body #root .Main .About .journey {
  width: 100%;
  padding-inline: 1rem;
}
html #root .Main .About .journey p,
body #root .Main .About .journey p {
  font-size: clamp(0.5rem, 2vw, 1rem);
  color: var(--sec2);
}
html #root .Main .Strength,
body #root .Main .Strength {
  border-bottom: 0.2rem solid var(--sec);
  width: 100vw;
  margin-top: 4rem;
  padding-bottom: 3rem;
}
html #root .Main .Strength .first,
body #root .Main .Strength .first {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-left: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
html #root .Main .Strength .first h1,
body #root .Main .Strength .first h1 {
  font-family: var(--bebo);
  font-size: clamp(3rem, 10vw, 15rem);
  white-space: nowrap;
}
html #root .Main .Strength .first h3,
body #root .Main .Strength .first h3 {
  height: 0.2rem;
  width: 60%;
  background: var(--sec2);
}
html #root .Main .Strength .second-sm,
body #root .Main .Strength .second-sm {
  height: 50vw;
  width: 100%;
}
html #root .Main .Strength .second-sm .Cylinder,
body #root .Main .Strength .second-sm .Cylinder {
  height: 100%;
  width: 100%;
}
html #root .Main .Strength .third,
body #root .Main .Strength .third {
  width: 100%;
  padding-inline: 2rem;
}
html #root .Main .Strength .third .cards,
body #root .Main .Strength .third .cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
html #root .Main .Strength .third .cards .scard,
body #root .Main .Strength .third .cards .scard {
  display: flex;
  align-items: self-start;
  gap: 0.5rem;
}
html #root .Main .Strength .third .cards .scard .tick,
body #root .Main .Strength .third .cards .scard .tick {
  border: 0.01rem solid var(--sec2);
  padding-inline: clamp(0.2rem, 1vw, 0.6rem);
  font-weight: 100;
  display: inline-block;
  transform: translateY(8%);
  font-size: clamp(0.8rem, 5vw, 2rem);
  margin-right: 0.5rem;
  border-radius: 50rem;
}
html #root .Main .Strength .third .cards .scard .tick i,
body #root .Main .Strength .third .cards .scard .tick i {
  display: inline-block;
  color: var(--sec2);
  transform: scale(1.8) translateY(-2%) translateX(10%);
}
html #root .Main .Strength .third .cards .scard p,
body #root .Main .Strength .third .cards .scard p {
  font-size: clamp(0.5rem, 2vw, 1rem);
  color: var(--sec2);
  line-height: clamp(1.4rem, 4vw, 3rem);
}
html #root .Main .Strength .third .cards .scard p .head,
body #root .Main .Strength .third .cards .scard p .head {
  font-weight: 600;
  display: inline-block;
  transform: translateY(8%);
  font-size: clamp(0.8rem, 2vw, 3rem);
  margin-right: 0.5rem;
}
html #root .Main .Project,
body #root .Main .Project {
  margin-top: 4rem;
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(6rem, 4vw, 20rem);
}
html #root .Main .Project .left,
body #root .Main .Project .left {
  width: 100%;
}
html #root .Main .Project .left .project-cont,
body #root .Main .Project .left .project-cont {
  width: 100%;
  position: relative;
}
html #root .Main .Project .left .project-cont .vid-top,
body #root .Main .Project .left .project-cont .vid-top {
  right: 8%;
  top: 4%;
  padding: 0.2rem;
  background: var(--sec);
}
html #root .Main .Project .left .project-cont .vid-bottom,
body #root .Main .Project .left .project-cont .vid-bottom {
  left: 5%;
  bottom: 0%;
  padding: 0.2rem;
  background: var(--sec);
}
html #root .Main .Project .left .project-cont .vid-bottom video,
body #root .Main .Project .left .project-cont .vid-bottom video {
  -o-object-position: top;
     object-position: top;
}
html #root .Main .Project .left .project-cont h2:last-child,
body #root .Main .Project .left .project-cont h2:last-child {
  position: relative;
  left: clamp(5.6rem, 44%, 58rem);
  font-family: var(--bebo);
  font-size: clamp(3rem, 10vw, 15rem);
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--bebo);
  font-size: clamp(2rem, 10vw, 15rem);
  white-space: nowrap;
}
html #root .Main .Project .left .project-cont h2:first-child,
body #root .Main .Project .left .project-cont h2:first-child {
  font-family: var(--bebo);
  font-size: clamp(2rem, 10vw, 15rem);
  white-space: nowrap;
}
html #root .Main .Project .left .project-cont .vid-top,
html #root .Main .Project .left .project-cont .vid-bottom,
body #root .Main .Project .left .project-cont .vid-top,
body #root .Main .Project .left .project-cont .vid-bottom {
  width: 24vw;
  height: 24vw;
  position: absolute;
}
html #root .Main .Project .left .project-cont .vid-top video,
html #root .Main .Project .left .project-cont .vid-bottom video,
body #root .Main .Project .left .project-cont .vid-top video,
body #root .Main .Project .left .project-cont .vid-bottom video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
html #root .Main .Project .left .project-cont .landscape,
body #root .Main .Project .left .project-cont .landscape {
  aspect-ratio: 16/9;
  height: 40%;
  width: 100%;
}
html #root .Main .Project .left .project-cont .landscape img,
body #root .Main .Project .left .project-cont .landscape img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
html #root .Main .Project .right,
body #root .Main .Project .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
html #root .Main .Project .right .story,
body #root .Main .Project .right .story {
  width: 60vw;
  height: 60vw;
}
html #root .Main .Project .right .story video,
body #root .Main .Project .right .story video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
html #root .Main .Project .right p,
body #root .Main .Project .right p {
  color: var(--sec2);
  font-size: clamp(0.5rem, 3vw, 1.3rem);
  width: 60vw;
}

@media (min-width: 600px) {
  html #root .Main nav .milestone,
  body #root .Main nav .milestone {
    display: flex;
  }
}
@media (orientation: landscape) and (max-width: 1000px) {
  html #root .Main .Home-Cont,
  body #root .Main .Home-Cont {
    border-bottom: 0;
  }
  html #root .Main .Home-Cont .Home .left,
  body #root .Main .Home-Cont .Home .left {
    flex-shrink: 0;
  }
  html #root .Main .Home-Cont .Home .right,
  body #root .Main .Home-Cont .Home .right {
    flex-shrink: 0;
    height: 70%;
  }
  html #root .Main .Home-Cont .Home .right .bottom,
  body #root .Main .Home-Cont .Home .right .bottom {
    bottom: -4%;
  }
  html #root .Main .About,
  body #root .Main .About {
    margin-top: 10rem;
  }
}
@media (min-width: 1400px) {
  html body #root .Main .Home-Cont .Home {
    flex-direction: row;
  }
  html body #root .Main .Home-Cont .Home .left {
    width: 50%;
    height: 100%;
    border-right: 0.5rem solid var(--sec);
    border-bottom: 0px;
  }
  html body #root .Main .Home-Cont .Home .right {
    width: 100%;
    height: 100%;
  }
  html body #root .Main .Home-Cont .Home .right .top .name h1 {
    font-size: clamp(2rem, 8vw, 12rem);
  }
  html body #root .Main .Home-Cont .Home .right .bottom {
    bottom: 10%;
  }
  html body #root .Main .About {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "first second" "third second";
  }
  html body #root .Main .About .lower-content {
    transform: translateY(-10%);
  }
  html body #root .Main .About .first {
    grid-area: first;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  html body #root .Main .About .first h3 {
    top: 72%;
  }
  html body #root .Main .About .second {
    grid-area: second;
    padding: 0;
  }
  html body #root .Main .About .second .right {
    transform: none;
    height: 50vh;
    max-height: 500px;
  }
  html body #root .Main .About .second .right .img-Cont {
    height: 100%;
    padding: 0;
  }
  html body #root .Main .About .second .left {
    transform: none;
    height: 50vh;
    max-height: 500px;
  }
  html body #root .Main .About .second .left .img-Cont {
    height: 100%;
    padding: 0;
  }
  html body #root .Main .About .third {
    padding-top: 2rem;
    grid-area: third;
  }
  html body #root .Main .Strength {
    margin: 0;
    display: flex;
    width: 100%;
    gap: 2rem;
  }
  html body #root .Main .Strength .second-lg {
    width: 50%;
    display: flex;
    gap: 1rem;
  }
  html body #root .Main .Strength .second-lg .imgCont:first-child {
    -o-object-position: right;
       object-position: right;
  }
  html body #root .Main .Strength .second-lg .imgCont {
    width: 50%;
    height: -moz-fit-content;
    height: fit-content;
  }
  html body #root .Main .Strength .second-lg .imgCont:nth-child(2) {
    margin-top: 8rem;
  }
  html body #root .Main .Strength .second-lg .imgCont img {
    width: 100%;
    aspect-ratio: 9/16;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  html body #root .Main .Strength .third {
    width: 50%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-around;
  }
  html body #root .Main .Strength .third .first h1 {
    font-family: var(--bebo);
    font-size: clamp(3rem, 10vw, 15rem);
    white-space: nowrap;
  }
  html body #root .Main .Strength .third .cards .scard .tick {
    font-size: clamp(0.8rem, 1vw, 2rem);
    padding-inline: clamp(0.2rem, 0.5vw, 0.3rem);
  }
  html body #root .Main .Strength .third .cards .scard .head {
    font-size: clamp(0.8rem, 1vw, 2rem);
  }
  html body #root .Main .Project {
    flex-direction: row;
    align-items: center;
  }
  html body #root .Main .Project .left {
    width: 50%;
  }
  html body #root .Main .Project .left .project-cont .vid-top, html body #root .Main .Project .left .project-cont .vid-bottom {
    width: clamp(2rem, 14vw, 24rem);
    height: clamp(2rem, 14vw, 24rem);
  }
  html body #root .Main .Project .left .project-cont .vid-top {
    top: 10%;
  }
  html body #root .Main .Project .left .project-cont .vid-bottom {
    bottom: 10%;
  }
  html body #root .Main .Project .right {
    width: 50%;
    align-items: center;
  }
  html body #root .Main .Project .right .story {
    width: clamp(2rem, 20vw, 34rem);
    height: clamp(2rem, 20vw, 34rem);
  }
  html body #root .Main .Project .right p {
    width: clamp(2rem, 20vw, 34rem);
  }
}/*# sourceMappingURL=style.css.map */