@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bokor&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
    --pri: rgb(19, 19, 19);
    --pri2: black;
    --sec: rgb(224, 223, 223);
    --sec2: rgb(170, 163, 163);
    --bebo:"Bebas Neue", sans-serif;
}

@font-face {
    font-family: Curvy;
    src: url(./assets/Gistesy.ttf);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
    background: var(--pri);

    #root {
        height: 100%;
        width: 100%;

        .Main {
            height: 100%;
            width: 100%;


            nav {
                background: var(--pri2);
                display: flex;
                width: 100%;
                position: sticky;
                top: 0;
                padding-inline: 4rem;
                padding-block: 1rem;
                border-bottom: 0.2rem solid var(--sec);
                justify-content: space-between;

                h2 {
                    font-family: "Bebas Neue", sans-serif;
                    font-size: 2rem;

                    span {
                        font-family: "Curvy";
                        font-weight: 100;
                        font-size: 2rem;
                    }
                }

                .milestone {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    font-weight: 200;

                    .m-Line {
                        height: 0.1rem;
                        width: 3rem;
                        background: var(--sec2);
                    }
                }

                .ham {

                    display: flex;
                    align-items: center;
                    font-size: 2rem;
                }
            }

            .Home {
                height:calc(100% - 87.33px);
                width: 100%;
                display: flex;
                flex-direction: column;
                gap:2rem;

                .left{
                    height: 100%;
                    width: 100%;
                    background: url("./images/5.jpeg");
                    background-size: cover;
                    background-position: top;
                    border-bottom: 0.5rem solid var(--sec);

                }
                .right{
                    height: 100%;
                    width: 100%;
                    padding: 2rem;
                    position: relative;
                    
                    .top{

                        .name{
                            position: relative;
                            width: fit-content;


                            h1{
                                font-family: var(--bebo) ;
                                font-size: clamp(3rem,10vw,15rem);
                                white-space: nowrap;
                            }
                            h3{
                                font-family:"curvy";
                                font-weight: 100;
                                font-size: clamp(2rem,8vw,10rem);
                                position: absolute;
                                top: 80%;
                                right: 20%;
                            }
                        }
                    }
                    .center{
                        position: absolute;
                        width: 50%;
                        top: 50%;
                        right: 0;
                        border-top: 0.4rem solid var(--sec2);
                        padding-top: 1rem;
                        p{

                            font-size: clamp(0.6rem,2vw,2rem);
                        }
                    }
                    .bottom{
                       
                        button{
                             padding-inline: 2rem;
                             padding-block: 0.8rem;
                             color: var(--pri);
                             background: var(--sec);
                             font-size: clamp(1rem,4vw,2rem);
                             position: absolute;
                             bottom: 6%;
                             right: 10%;
                            
                        }
                    }
                    
                }
                
            }
        }
    }
}

@media (min-width:600px) {

    html,
    body {
    #root{

    
        .Main{

            nav {
                .milestone {
                    display: flex;
                }
            }
        .Home{
           flex-direction: row;
           .left{
            width: 50%;
            border-right: 0.5rem solid var(--sec);
            border-bottom: 0px;

           }
           .right{
               width: 100%;
            .top{

                .name{
                    h1{
                        font-size: clamp(2rem,8vw,12rem);
                    }
                }
            }
            .bottom{
                button{

                    bottom: 10%;
                }
            }
            
           }
        }
    }
    }
}
}